#Test Result

## Send Email

### Success

```
{
    "success": true,
    "message": "Email sent successfully"
}
```

### Failure

```
{
    "success": false,
    "message": "Failed to send email"
}
```

## Scalar API

![alt text](<Screenshot 2026-04-19 215026.png>)

## Mailtrap Sandbox

![alt text](image.png)
